//grid
.grid {
    .container {
        position: absolute;
        top: 20px;
        right: 0;
        width: 100%;

        .description {
            margin: 0 auto;
            max-width: 600px;
            font-size: 14px;
            line-height: 1.3em;
            text-align: center;
            @media @screen-small-above {
                font-size: 18px;
            }
        }
    }

    .head-grid {
        //position: absolute;
        //top: 100px;
        //right: 0;
        width: 100%;
        margin-top: 20px;

        @media @screen-small-above {
            bottom: 30px;
        }
    }

    .row {
        clear: both;
        margin: 0 auto;
        text-align: center;
    }
     
     .img-box {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin: 15px 25px;
        position: relative;
        z-index: 1000;
        opacity: 0.5;
        .transition(opacity 0.1s linear);

        @media @screen-small-above {
            width: 160px;
            height: 160px;
            margin: 30px 45px;
        }
        

        &:hover {
            opacity: 0.8;
        }

        &.playing {
            opacity: 1;
            outline: 1px solid @red;
        }

        .headshot {
            width: 100%;
        }

        .name {
            position: absolute;
            top: -16px;
            left: 0;
            width: 100%;
            text-align: center;
            color: #000;
            font-family: Helvetica;
            font-size: 10px;

            @media @screen-small-above {
                font-size: 13px;
            }
        }

     }

     /*.narrative-player {
         bottom: 0;

         @media @screen-tiny-above {
            top: 20px;
            min-height: 95px;
         }
         @media @screen-small-above {
            min-height: 150px;
            top: 40px; 
         }
    }

    .subtitle-wrapper {
        top: 10px;

        @media @screen-small-above {
            top: 80px; 
         }
    }*/


}