//titlecard
.titlecard {
     .subhed {
        text-align: center;
        text-transform: uppercase;
        color: @primary;
        font-size: 20px;
        margin: 10px 0;
        
        @media @screen-small-above {
            margin: 25px 0;
            font-size: 40px;
        }

        .numeral {
            font-size: 30px;

            @media @screen-small-above {
                font-size: 50px;
            }
        }
     }

     .description {
        margin: 0 auto;
        max-width: 700px;
        font-size: 14px;
        line-height: 1.3em;

        @media @screen-small-above {
            font-size: 18px;
        }
    }

    .exhibit {
        margin: 0 auto;
        margin-top: 40px;

        .graphic-wrapper {
            max-width: 900px;
            margin: 0 auto;
        }

        table {
            font-family: Helvetica;
        }

        .pullquote {
            font-size: 18px;
            line-height: 1.3em;
            max-width: 800px;
            margin: 50px auto;
            padding: 10px 30px 10px 30px;
            border: 1px solid @primary;
            font-style: italic;

            @media @screen-small-above {
                font-size: 22px;
                margin: 100px auto;
            }
        }
    }
}