{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Access &amp; Equity{% endblock %}

{% block numeral %}IV.{% endblock %}
{% block subhed %}A Moral Obligation{% endblock %}
{% block description %}More than one-third of UC Berkeley undergraduates receive federal Pell Grants for low-income students. In contrast, less than 20 percent of students at Ivy League schools receive Pell Grants. Still, from both a socioeconomic and racial perspective, UC Berkeley’s student body doesn’t fully represent the diversity of California’s population.{% endblock %}

{% block exhibit %}
<div class="graphic-wrapper">
	<div class="graphic-embed" id="responsive-embed-berkeley-race-bar" data-graphic="berkeley-race-bar"></div>
</div>
{% endblock %}