{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Access &amp; Equity{% endblock %}

{% block numeral %}IV.{% endblock %}
{% block subhed %}Access{% endblock %}
{% block description %}Although Berkeley’s admission rate has steadily declined over __, the campus enrolls more than one-third Pell Grant recipients, more than twice the proportion at all Ivy League schools combined. Still, some are concerned that UC Berkeley’s student body doesn’t represent the socioeconomic or racial diversity of California’s population.{% endblock %}

{% block exhibit %}
<div id="responsive-embed-berkeley-race">
</div>
<script type="text/javascript">
$(function() {
    var pymParent = new pym.Parent(
        'responsive-embed-berkeley-race',
        'https://s3-us-west-1.amazonaws.com/dc-graphics/dailygraphics/graphics/berkeley-race/child.html',
        {}
    );
});
</script>
{% endblock %}