{% extends '_slide.html' %}

{% block extra_class %}conclusion{% endblock %}
{% block bgimage %}img/hearst_bg.jpg{% endblock %}

{% block section_link %}conclusion{% endblock %}

{% block slide_content %}
<div class="social-wrapper row">
  <ul class="social">
    <li> <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=projects.dailycal.org/public-trust/"><i class="fa fa-facebook"></i></a> </li>
    <li> <a target="_blank" href="https://twitter.com/home?status=The%20Public%20Trust%20%7C%20The%20Daily%20Californian%20projects.dailycal.org/public-trust/%20via%20%40dailycal"><i class="fa fa-twitter"></i></a> </li>
  </ul>
</div>
<br />
<br />
<br />
<div class="remarks row">
    <p>Interviews were edited for length and clarity.</p>
    <p>Read more <a target="_blank" href="http://www.dailycal.org/section/news/uc/">higher education coverage</a> from The Daily Californian.</p>
    <p>View <a target="_blank" href="https://github.com/sahilchinoy/public-trust">this project's source</a>, modified from NPR's <a target="_blank" href="https://github.com/nprapps/app-template">app template</a>.</p>

    <br />

    <em>
    <p>Researched and written by Sahil Chinoy and Chloee Weiner</p>
    <p>Photography by Kore Chan</p>
    <p>Designed and built by Sahil Chinoy</p>
    <p>Edited by Katy Abbott and Sophie Ho</p>
    </em>

</div>
{% endblock slide_content %}