{% block slide_wrapper %}
<div class="slide conclusion" data-bgimage="img/hearst_bg.jpg">
    {% block slide_body %}
    <div class="text full-block">
        <div class="full-block-cell">
            <div class="mini-nav">
                <div class="btn-group">
                    <a class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> The Public Trust</a> <i class="fa fa-angle-right"></i> Conclusion
                      <ul class="dropdown-menu">
                        <li><a href="#1">Intro</a></li>
                        <li><a href="#2">State funding</a></li>
                        <li><a href="#6">Tuition</a></li>
                        <li><a href="#10">Out-of-state</a></li>
                        <li><a href="#14">Access &amp; Equity</a></li>
                        <li><a href="#17">Philanthropy</a></li>
                        <li><a href="#21">Private research</a></li>
                        <li><a href="#24">Conclusion</a></li>
                      </ul>
                </div>
            </div>
            <div class="full-block-content">
                <div class="social-wrapper row">
                  <ul class="social">
                    <li> <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=projects.dailycal.org/public-trust/"><i class="fa fa-facebook"></i></a> </li>
                    <li> <a target="_blank" href="https://twitter.com/home?status=The%20Public%20Trust%20%7C%20The%20Daily%20Californian%20projects.dailycal.org/public-trust/%20via%20%40dailycal"><i class="fa fa-twitter"></i></a> </li>
                  </ul>
                </div>
                <br />
                <br />
                <br />
                <div class="remarks row">
                    <h2>Read more <a target="_blank" href="http://www.dailycal.org/section/news/uc/">higher education coverage</a> from The Daily Californian.</h2>
                    <h2>View <a target="_blank" href="https://github.com/sahilchinoy/public-trust">this project's source</a>, modified from the NPR visual team's <a target="_blank" href="https://github.com/nprapps/app-template">app template</a>.</h2>

                    <br />

                    <p>Researched and written by Sahil Chinoy and Chloee Weiner</p>
                    <p>Photography by Kore Chan</p>
                    <p>Designed and built by Sahil Chinoy</p>
                    <p>Edited by Sophie Ho and Katy Abbott</p>
                </div>
                
            </div><!--full-block-content-->
                <div class="credit">
                    Daily Californian Archives
                </div>
        </div><!--full-block-cell-->
    </div><!--full-block-->
    {% endblock slide_body %}
</div><!--slide-->
{% endblock slide_wrapper %}