{% block slide_wrapper %}
<div class="slide grid">
    {% block slide_body %}
    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">

                <div class="container">
                    <p class="description">The university has, in many ways, strayed from the material recommendations of the Master Plan. But to what extent do these changes constitute erosion of UC Berkeley’s public character?</p>
                </div>

                <div class="head-grid">

                    <div class="row">
                        <div class="img-box first" data-audio="johnson_affordable">
                            <img class="headshot" src="/assets/img/head/johnson_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Hans Johnson</span>
                        </div>
                        <div class="img-box" data-audio="cochrane_middle-class">
                            <img class="headshot" src="/assets/img/head/cochrane_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Debbie Cochrane</span>
                        </div>
                        <div class="img-box" data-audio="cochrane_middle-class">
                            <img class="headshot" src="/assets/img/head/reich_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Robert Reich</span>
                        </div>
                        <div class="img-box" data-audio="cochrane_middle-class">
                            <img class="headshot" src="/assets/img/head/dirks_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Nicholas Dirks</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="img-box" data-audio="johnson_affordable">
                            <img class="headshot" src="/assets/img/head/kadir_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Khalid Kadir</span>
                        </div>
                        <div class="img-box" data-audio="cochrane_middle-class">
                            <img class="headshot" src="/assets/img/head/christ_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Carol Christ</span>
                        </div>
                        <div class="img-box" data-audio="cochrane_middle-class">
                            <img class="headshot" src="/assets/img/head/brady_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Henry Brady</span>
                        </div>
                        <div class="img-box" data-audio="cochrane_middle-class">
                            <img class="headshot" src="/assets/img/head/chloee_head.jpg">
                            <span class="toggle"></span>
                            <span class="name">Chloee Weiner</span>
                        </div>
                    </div>

                </div>

                <div class="subtitle-wrapper">
                    <p class="subtitles"></p>
                </div>

                <div class="narrative-player">
                    <div class="controls">
                        <div class="control-group">
                            <a href="#" class="play control-btn"></a>
                            <div class="player-progress">
                                <div class="total"></div>
                                <div class="played"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div><!--full-block-content-->
                <div class="credit">
                    {% block credit %}
                    {% endblock credit %}
                </div>
        </div><!--full-block-cell-->
    </div><!--full-block-->
    {% endblock slide_body %}
</div><!--slide-->
{% endblock slide_wrapper %}