{% extends '_slide.html' %}

{% block extra_class %}intro{% endblock %}
{% block bgimage %}img/sather.jpg{% endblock %}

{% block section_link %}Introduction{% endblock %}

{% block slide_content %}
<p>In 1960, California passed the <a target="_blank" href="http://www.ucop.edu/acadinit/mastplan/MasterPlan1960.pdf">Master Plan for Higher Education</a>, which laid the foundation for public education in the state. It envisioned a University of California without tuition that guaranteed access for the top one-eighth of the state’s high school graduates, funded by taxpayers who believed in the university as a source of economic and social mobility.</p>

<p>UC Berkeley in particular, as an elite public university, has aimed to reconcile its responsibility to the state's people with its status as a highly-selective academic institution &mdash; a challenge faced by few others.</p>

<p>Today, state disinvestment, rising tuition costs, more out-of-state students, increased private research funding and a greater emphasis on alumni giving have left some questioning whether UC Berkeley is drifting farther from the public ideal of the Master Plan and closer to the private universities with which it has always competed.</p>

<p>Some have suggested that UC Berkeley should adapt to the reality of the state’s financial priorities — that a public university is not defined by its level of state funding, that the values ingrained by 147 years of history are immutable. Others worry it is only a matter of time before UC Berkeley’s shifting funding model undermines the institution’s public mission.</p>

<p>The Master Plan defined the University of California as a public trust. Half a century later, in the face of the fiscal and political uncertainty of its current situation, what makes UC Berkeley a public institution?</p>
{% endblock slide_content %}

{% block credit %}Mike Miller / Daily Californian Archives{% endblock credit %}
