{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Out-of-state{% endblock %}

{% block numeral %}III.{% endblock %}
{% block subhed %}Out of state{% endblock %}
{% block description %}The proportion of Berkeley freshmen enrolling from outside California has doubled in less than a decade. Out-of-state and international students pay higher tuition, which the university uses to finance enrollment of California residents. While some welcome the diversity these students bring to the campus, others think increased out-of-state enrollment contradicts UC Berkeley’s commitment to the people of California. 
{% endblock %}

{% block exhibit %}
<div id="responsive-embed-OOS-enrollment">
</div>
<script type="text/javascript">
$(function() {
    var pymParent = new pym.Parent(
        'responsive-embed-OOS-enrollment',
        'https://s3-us-west-1.amazonaws.com/dc-graphics/dailygraphics/graphics/OOS-enrollment/child.html',
        {}
    );
});
</script>
{% endblock %}