{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Philanthropy{% endblock %}

{% block numeral %}V.{% endblock %}
{% block subhed %}Hat In Hand{% endblock %}
{% block description %}UC Berkeley is increasingly turning to alumni and wealthy donors for support, much like private universities.  Although the campus has always benefited from philanthropy, some worry about the impact increased reliance on gifts might have over the academic autonomy of the campus and the integrity of the admission process.{% endblock %}

{% block exhibit %}
<div class="pullquote">
<p>Private support is critical to the future of Cal as full state support is unlikely to return. Private gifts are now necessary to provide for core programs, to build new buildings, to create new programs, and to carry the legacy of Cal into the next century.</p>
<p>— <a href="https://foundation.berkeley.edu/mission" target="_blank">UC Berkeley Foundation</a></p>
</div>
{% endblock %}