{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Philanthropy{% endblock %}

{% block numeral %}V.{% endblock %}
{% block subhed %}Hat In Hand{% endblock %}
{% block description %}UC Berkeley is increasingly turning to alumni and wealthy donors for support, much like private universities. Although the campus has always benefited from philanthropy, some worry that increased reliance on private gifts might undermine the academic autonomy of the campus and the integrity of the admission process.{% endblock %}

{% block exhibit %}
<div class="graphic-wrapper">
	<div class="graphic-embed" id="responsive-embed-UCB-donors" data-graphic="UCB-donors"></div>
</div>
{% endblock %}