{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Conclusion{% endblock %}

{% block numeral %}VII.{% endblock %}
{% block subhed %}Public Character{% endblock %}
{% block description %}UC Berkeley has, in some ways, strayed from the vision of the Master Plan — but do those changes signify an erosion of its public character?{% endblock %}

{% block exhibit %}
<div class="img-wrapper">
	<img class="lazy-load main-img" style="width: 100%;" data-src="img/occupy"></img>
	<div class="exhibit-credit">Michael Tao / File</div>
</div>
{% endblock %}