{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Private Research{% endblock %}

{% block numeral %}VI.{% endblock %}
{% block subhed %}Corporate Firewalls{% endblock %}
{% block description %}Campus partnerships with corporations bring in millions of dollars in research funding. In some contracts, such as those with <a target="_blank" href="http://www.sfgate.com/bayarea/article/UC-Berkeley-BP-finally-sign-contract-for-3300959.php">British Petroleum</a> and <a target="_blank" href="http://www.highereducation.org/crosstalk/ct1099/news1099-berkeley.shtml">Novartis</a>, private interests can set research agendas and influence the publication of findings, potentially threatening UC Berkeley’s commitment to research in the public interest.{% endblock %}

{% block exhibit %}
<div class="graphic-wrapper">
	<div class="graphic-embed" id="responsive-embed-NSF-research" data-graphic="NSF-research"></div>
</div>
{% endblock %}