{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Private Research{% endblock %}

{% block numeral %}VI.{% endblock %}
{% block subhed %}Corporate Firewalls{% endblock %}
{% block description %}Campus partnerships with corporations bring in millions in research funding, some of which is used for compensation and operational costs. Is the public nature of the campus compromised when private interests can set research agendas and control publication?{% endblock %}

{% block exhibit %}
<div class="graphic-embed" id="responsive-embed-NSF-research" data-graphic="NSF-research"></div>
{% endblock %}