{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}State Funding{% endblock %}

{% block numeral %}I.{% endblock %}
{% block subhed %}Playing With Fire{% endblock %}
{% block description %}Although the state government cannot pass legislation to direct the university's operations, it has historically provided a majority of the university's funding. The state has dramatically scaled back support in recent years, and as the university and the legislature continue to clash over budget allocations, it’s unlikely that previous levels of state funding will ever return.{% endblock %}

{% block exhibit %}
<div class="graphic-wrapper">
	<div class="graphic-embed" id="responsive-embed-uc-state-appropriations" data-graphic="uc-state-appropriations"></div>
</div>
{% endblock %}