{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}State Funding{% endblock %}

{% block numeral %}I.{% endblock %}
{% block subhed %}Playing With Fire{% endblock %}
{% block description %}The state has disinvested dramatically from the University of California. As the university and the legislature continue to clash over state funding, some wonder whether full state support will ever return.{% endblock %}

{% block exhibit %}
<div class="graphic-embed" id="responsive-embed-uc-general-funds" data-graphic="uc-general-funds"></div>
{% endblock %}