{% extends 'slide_templates/titlecard.html' %}

{% block numeral %}II.{% endblock %}
{% block subhed %}Sticker Price{% endblock %}
{% block description %}The university is increasingly relying on student tuition for support. But because financial aid packages have increased simultaneously, it’s unclear whether rising tuition really represents a barrier for California’s low-income students, or a model in which wealthy and middle-income students subsidize the poor.{% endblock %}

{% block exhibit %}
<div class="graphic">
	<h1>UC resident charges, 1980-2014</h1>
	<div id="tuition-chart"></div>
	<div class="footnotes">
	    <p>Adjusted for inflation.</p>
	</div>
	<div class="footer">
	    <p>Source: University of California</p>
	</div>
</div>
<script type="text/javascript">
GRAPHIC.lineChart('/data/charts/tuition.csv','#tuition-chart');
</script>
{% endblock %}