{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}Tuition{% endblock %}

{% block numeral %}II.{% endblock %}
{% block subhed %}The Sticker Price{% endblock %}
{% block description %}The university is increasingly relying on student tuition for support. But because financial aid packages have increased simultaneously, it’s unclear whether rising tuition really represents a barrier for California’s low-income students, or a model in which wealthy and middle-income students subsidize the poor.{% endblock %}

{% block exhibit %}
<div class="graphic-wrapper">
	<div class="graphic-embed" id="responsive-embed-berkeley-cost" data-graphic="berkeley-cost"></div>
</div>
{% endblock %}