{% block slide_wrapper %}
<div class="slide {% block extra_class %} {% endblock %}" data-narrative="{% block narrative %}{% endblock %}">
    {% block slide_body %}
    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <div class="mini-nav">
                    <div class="btn-group">
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> The Public Trust</a> <i class="fa fa-angle-right"></i> {% block section_link %}{% endblock %}
                          <ul class="dropdown-menu">
                            <li><a href="#2">State funding</a></li>
                            <li><a href="#6">Tuition</a></li>
                            <li><a href="#10">Out-of-state</a></li>
                            <li><a href="#14">Access &amp; Equity</a></li>
                            <li><a href="#16">Philanthropy</a></li>
                            <li><a href="#20">Private research</a></li>
                            <li><a href="#23">Conclusion</a></li>
                          </ul>
                    </div>
                </div>
                {% block slide_content %}{% endblock slide_content %}
            </div><!--full-block-content-->
                <div class="credit">
                    {% block credit %}
                    {% endblock credit %}
                </div>
        </div><!--full-block-cell-->
    </div><!--full-block-->
    {% endblock slide_body %}
</div><!--slide-->
{% endblock slide_wrapper %}
