{# Twitter #}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="In an era of declining state support, what does it mean to be a public university?"/>
<meta name="twitter:title" content="The Public Trust | The Daily Californian"/>
<meta name="twitter:site" content="@dailycal"/>
<meta name="twitter:domain" content="The Daily Californian"/>
<meta name="twitter:image" content="http://www.dailycal.org/assets/uploads/2015/11/public_trust_share_image.jpg"/>
<meta name="twitter:creator" content="@dailycal"/>

{# Facebook #}
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="The Public Trust | The Daily Californian" />
<meta property="og:url" content="http://projects.dailycal.org/public-trust/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="In an era of declining state support, what does it mean to be a public university?" />
<meta property="og:image" content="http://www.dailycal.org/assets/uploads/2015/11/public_trust_share_image.jpg" />
<meta property="og:site_name" content="The Daily Californian"/>
<meta property="article:publisher" content="https://www.facebook.com/dailycal"/>
<meta property="fb:admins" content="877855486"/>