{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="">
<meta name="twitter:image" content="" />

{# Facebook #}
<meta property="og:title" content="" />
<meta property="og:url" content="" />
<meta property="og:type" content="article" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="" />
<meta property="fb:app_id" content="" />

{# Google News #}
<meta name="thumbnail" content="" />
