{% extends '_slide.html' %}
{% block slide_content %}
    <div class="social-wrapper">
      <ul class="social">
        <li> <a href=""><i class="fa fa-facebook"></i></a> </li>
        <li> <a href=""><i class="fa fa-twitter"></i></a> </li>
      </ul>
    </div>
    <h1>A Public Good</h1>
    <h2>What is a public university?</h2>
    <h3>Sahil Chinoy and Chloee Weiner</h3>
    <h4>Oct. 25, 2015</h4>

    <button class="btn btn-go">Go</button>
    
    <p class="sound-prompt">Put on your headphones and scroll down.</p>

{% endblock %}
